# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Logs
*.log

# Data
data/cache/
data/sources/

# Models (避免上傳大檔案)
D:/huggingface_models/
D:/faiss_index/

# 忽略 mistral-RAG-AI-
mistral-RAG-AI-/

# 忽略所有 torch wheel 檔案
packages/torch-*.whl
packages_linux/torch-*.whl